/node_modules
/public/hot
/public/storage
/public/var
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
min/*
cache/
python-django/secrets.cnf
python-django/env
python-django/__pycache__
storage/
var/
credentials.json
imports
crons/error_log
sitemaps/*
sitemap_index.xml
/tts_env
/gulp
package.json
package-lock.json
/devman
min/
composer.lock
*.DS_Store
