JWT_SECRET=601e1140eb21301ada68bbb1d753847d626201eedabb4werdswdsfs48b5cb7db33c358ed99
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=isend
DB_HOST="127.0.0.1"
ENVIRONMENT="local"
ROOT_DIR="/Users/user/projects/pub"
ROOT_URL='http://localhost:1650'